{% extends "base.html" %}

{% block sidebar %}
<ul>
	<li><a href="/articles/get/{{article.id}}">Cancel</a></li>
</ul>
{% endblock %}
			
{% block content %}

<form action="/articles/add_comment/{{article.id}}/" method="post">{% csrf_token %}
<ul>
{{form.as_ul}}
</ul>

<input type="submit" name="submit" value="Post Comment">
</form>

{% endblock %}