{% extends "base.html" %}
{% load static %}

{% block title %}{{article.title}}{% endblock %}

{% block sidebar %}
<ul>
	<li><a href="/articles/all">Articles</a></li>
</ul>
{% endblock %}
			
{% block content %}

<h1>{{article.title}}</h1> <!-- variables use curly brackets -->
<p>{{article.body}}</p>

{% if article.thumbnail %}
<p><img src="{% get_static_prefix %}{{article.get_thumbnail}}" width="200"/></p>
{% endif %}

<p>{{article.likes}} People liked this article</p>
<p><a href="/articles/like/{{article.id}}">Like</a></p>

<h2>Comments</h2>
{% for c in article.comment_set.all %} <!-- tells django that article is related to comment -->
<h3>{{c.name}}</h3>
<p>{{c.body}}</p>
<a href="/articles/delete_comment/{{c.id}}">Delete</a>
{% endfor %}

<p><a href="/articles/add_comment/{{article.id}}">Add Comment</a></p>

{% endblock %}

