{% extends "base.html" %}
{% load article_tags %}

{% block sidebar %}
<ul>
    <li><a href="/articles/all">Articles</a></li>
    <li><a href="/articles/create">Create Article</a></li>

</ul>

<h3>Search</h3>
{% csrf_token %}
<input type="text" id="search" name="search" />

<ul id="search-results">

</ul>



{% endblock %}




{% block title %}Articles{% endblock %}

{% block content %}

<h2>Language is: {{language}}</h2>

<h2>Session Language is: {{session_language}}</h2>

{% if articles %}
    
        {% for article in articles %}
            {% if article.approved %}
            <div>
				<h2><a href="/articles/get/{{article.id}}/">{{article.title}}</a></h2>
				<p>{{  article.body|article_shorten_body:50 }}</p> <!-- add filters using a pipe -->
				<!-- if filter has extra parameters ie. 'truncate words' colon and then specifications-->
				<p>{{article.likes}} People liked this article</p>
            </div>
            {% endif %}
        {% endfor %} <!-- logic (python) curly brace and percent sign -->
    

{% else %} <!-- place holder to tell python when to finsh. because there is no indentation-->
    <p>No articles in database</p>
{% endif %}

{% endblock %}