{% extends "base.html" %}

{% block sidebar %}
<ul>
    <li><a href="/articles/all">Cancel</a></li>
</ul>
{% endblock %}

{% block content %}

<form action="/articles/create/" method="post" enctype="multipart/form-data">{% csrf_token %}
{{ form }}

<input type="submit" name="submit" value="Crete Article">

</form>

{% endblock %}
