body {
    text-align: center;
}
        
#page {
    width: 960px;
	text-align: left;
	margin: 10px auto 20px auto;
	background-color: #8c8c8c;
}
            
#sidebar {
	float: left;
	width: 200px;
	border: 2px solid #000;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

#content {
   float: left;
   width: 600px;
   border: 2px solid #d00;
   border-radius: 5px;
   padding: 10px;
}

label, input {
	float: left;
}

ul {
	list-style: none;
}

li {
	display: inline-block;
	width: 100%;
}

.helptext {
	float: left;
	width: 100%;
}

.clearfix {
	clear: both;
}

.messages {
	background-color: #c0c0c0;
	color: #fff;
	padding: 1em;
}

.success {
	background-color: #008800;
	border-color: #005500;
	padding-left: 1em;
}

.deleted {
	background-color: #880000;
	border-color: #550000;
	padding-left: 1em;
}