{% extends "base.html" %}


{% block content %}

  <h2>Register</h2>
  <form action="/accounts/register/" method="post">{% csrf_token %}
  
	  <ul>
		  {{form.as_ul}}
	  </ul>
  
  <input type="submit" value="Register" />
  
  </form>

{% endblock %}