{% extends "base.html" %}
<<<<<<< HEAD

{% block sidebar %}
<ul>
	<li><a href="/articles/get/{{article.id}}">Cancel</a></li>
</ul>
{% endblock %}
			
{% block content %}

<form action="/articles/add_comment/{{article.id}}/" method="post">{% csrf_token %}
<ul>
{{form.as_ul}}
</ul>

<input type="submit" name="submit" value="Post Comment">
</form>
=======
{% load bootstrap_toolkit %}

			
{% block content %}

<div class="blog-header">
	<h1 class="blog-title">Add Comment</h1>
</div>

<div class="row">

<div class="col-sm-8 blog-main">
	<form action="/articles/add_comment/{{article.id}}/" method="post">{% csrf_token %}
		<ul>
			{{form|as_bootstrap}}
		</ul>

		<input type="submit" name="submit" value="Post Comment">
	</form>

</div> <!-- main -->

</div> <!-- row -->
>>>>>>> 347f063cefe0b889c1543b457ddb9de550edb957

{% endblock %}