{% extends "base.html" %}
{% load static %}

{% block title %}{{article.title}}{% endblock %}

<<<<<<< HEAD
{% block sidebar %}
<ul>
	<li><a href="/articles/all">Articles</a></li>
</ul>
{% endblock %}
			
{% block content %}

<h1>{{article.title}}</h1> <!-- variables use curly brackets -->
<p>{{article.body}}</p>
=======
			
{% block content %}

<div class="blog-header">
	<h1 class="blog-title">{{article.title}} <p class="lead blog-description">{% for items in article.genre.all %} {{items}}. {% endfor %}</p></h1>
	<p class="lead blog-description">{{article.pub_date}} by {% if article.user == people_profile.username %}
<a href="/accounts/home">{{article.user}}</a>

{% else %}
<a href="/accounts/user/{{article.user.id}}">{{article.user}}</a>
</p>
{% endif %}
</div>
      
<div class="row">

<div class="col-sm-8 blog-main">
    {{article.body}}
>>>>>>> 347f063cefe0b889c1543b457ddb9de550edb957

{% if article.thumbnail %}
<p><img src="{% get_static_prefix %}{{article.get_thumbnail}}" width="200"/></p>
{% endif %}

<<<<<<< HEAD
<p>{{article.likes}} People liked this article</p>
=======
<p><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> {{article.likes}} People liked this article</p>
>>>>>>> 347f063cefe0b889c1543b457ddb9de550edb957
<p><a href="/articles/like/{{article.id}}">Like</a></p>

<h2>Comments</h2>
{% for c in article.comment_set.all %} <!-- tells django that article is related to comment -->
<<<<<<< HEAD
<h3>{{c.name}}</h3>
<p>{{c.body}}</p>
<a href="/articles/delete_comment/{{c.id}}">Delete</a>
=======
<h3>{% if c.user == people_profile.username %}
<a href="/accounts/home">{{c.user}}</a>
{% else %}
<a href="/accounts/user/{{c.user.id}}">{{c.user}}</a>
{% endif %}
</h3>
<p>{{c.body}}</p>
{% if un == c.user.username %}<a href="/articles/delete_comment/{{c.id}}">Delete</a>{% endif %}
>>>>>>> 347f063cefe0b889c1543b457ddb9de550edb957
{% endfor %}

<p><a href="/articles/add_comment/{{article.id}}">Add Comment</a></p>

<<<<<<< HEAD
=======
</div> <!-- main -->

</div> <!-- row -->



>>>>>>> 347f063cefe0b889c1543b457ddb9de550edb957
{% endblock %}

