{% extends "base.html" %}
<<<<<<< HEAD
{% load article_tags %}

{% block sidebar %}
<ul>
    <li><a href="/articles/all">Articles</a></li>
    <li><a href="/articles/create">Create Article</a></li>

</ul>

<h3>Search</h3>
{% csrf_token %}
<input type="text" id="search" name="search" />

<ul id="search-results">

</ul>



{% endblock %}




{% block title %}Articles{% endblock %}

{% block content %}

<h2>Language is: {{language}}</h2>

<h2>Session Language is: {{session_language}}</h2>

{% if articles %}
    
        {% for article in articles %}
            {% if article.approved %}
            <div>
				<h2><a href="/articles/get/{{article.id}}/">{{article.title}}</a></h2>
				<p>{{  article.body|article_shorten_body:50 }}</p> <!-- add filters using a pipe -->
				<!-- if filter has extra parameters ie. 'truncate words' colon and then specifications-->
				<p>{{article.likes}} People liked this article</p>
            </div>
            {% endif %}
        {% endfor %} <!-- logic (python) curly brace and percent sign -->
    

{% else %} <!-- place holder to tell python when to finsh. because there is no indentation-->
    <p>No articles in database</p>
{% endif %}
=======


{% block content %}

     <div class="blog-header">
        <h1 class="blog-title">Articles</h1>
      </div>
      
<div class="row">

 <div class="col-sm-8 blog-main">
    {% if articles %}
    
        {% for article in articles %}
          <div class="blog-post">
            <h2 class="blog-post-title"><a href="/articles/get/{{article.id}}">{{article.title}}</a></h2>
            <p class="blog-post-meta">{% for items in article.genre.all %} {{items}}. {% endfor %} – <a href="/accounts/user/{{article.user.id}}/">{{article.user}}</a></p>

            <p>{{article.body|lower|truncatewords:50}}</p>
          </div><!-- /.blog-post -->
          {% endfor %}
          
          {% else %}
			<p>No Article to Show</p>
			{% endif %}

  

        </div><!-- /.blog-main -->



<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
        
          <div class="sidebar-module sidebar-module-inset">
            <h4 style="text-align: center;">Top 10 All Categories</h4>
            <ol class="list-unstyled">
              {% if top_articles %}
              {% for articles in top_articles %}
              <li style="text-align:center;"><a href="/articles/get/{{articles.id}}/">{{articles.title}}</a></li>
              <li class="divider"></li>
              {% endfor %}
              {% else %}
              <p> Error </p>
              {% endif %}
              
              </br>
               
            <h4 style="text-align: center;">Top 10 {{user.username}} Categories</h4>
            <ol class="list-unstyled">
              {% if top_articles_personal %}
              {% for articles in top_articles_personal %}
              <li style="text-align:center;"><a href="/articles/get/{{articles.id}}/">{{articles.title}}</a></li>
              <li class="divider"></li>
              {% endfor %}
              {% else %}
              <p> Error </p>
              {% endif %}
              
              
            </ol>
          </div>
</div><!-- /.blog-sidebar -->

</div> <!-- row -->
>>>>>>> 347f063cefe0b889c1543b457ddb9de550edb957

{% endblock %}