{% extends "base.html" %}
<<<<<<< HEAD
=======
{% load bootstrap_toolkit %}
>>>>>>> 347f063cefe0b889c1543b457ddb9de550edb957

{% block sidebar %}
<ul>
    <li><a href="/articles/all">Cancel</a></li>
</ul>
{% endblock %}

{% block content %}

<form action="/articles/create/" method="post" enctype="multipart/form-data">{% csrf_token %}
<<<<<<< HEAD
{{ form }}
=======
{{ form|as_bootstrap }}
>>>>>>> 347f063cefe0b889c1543b457ddb9de550edb957

<input type="submit" name="submit" value="Crete Article">

</form>

{% endblock %}
