{% extends "base.html" %}

{% block content %}

<h2>{{notification.title}}</h2>
<p>{{notification.message}}</p>
<p><a href="/notification/delete/{{notification.id}}/">mark as read</a></p>

{% endblock %}
