{% extends "base.html" %}

{% block content %}

<div class="blog-header">
    <h1 class="blog-title">{{notification.title}}</h1>
</div>

<div class="row">

<div class="col-sm-8 blog-main">
	{% if notification.count > 0 %}
		{% for n in notification %}
			<h1 class="blog-title">{{ n.title }}</h1>
			<p>{{ n.message }}
			<p><a href="{% url 'notification.views.delete_g_notification' n.id %}">mark as read</a></p>
		{% endfor %}
	{% else %}
	    <p>None</p>
	{% endif %}
	
</div><!-- /.blog-main -->

</div> <!-- row -->
{% endblock %}
