{% extends "base.html" %}

{% block navbar %}
<nav class="navbar navbar-default navbar-fixed-top"  style="background-color:0A8C92; font-family: chewy; height: 80; padding-top:15px;">
     <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <p class="navbar-brand" href="/articles/all" style="color: white; font-size: 40;">Django Orange</p>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a style="color: white; background-color:0A8C92;" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Settings<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a style="color: 0A8C92;" href="/accounts/logout/">Sign Out</a></li>
              </ul>
            </li>
          </ul>

        </div><!--/.nav-collapse -->
      </div>
    </nav>
{% endblock %}
{% block content %}

<div class="blog-header">
        <h1 class="blog-title">{{notification.title}}</h1>
      </div>
<div class="row">

<div class="col-sm-8 blog-main">
	<p>{{notification.message}}</p>
	<p><a href="/notification/delete/{{notification.id}}/">mark as read</a></p>
</div><!-- /.blog-sidebar -->

</div> <!-- row -->
{% endblock %}
