body {
    text-align: center;
}
        
#page {
    width: 960px;
	text-align: left;
	margin: 10px auto 20px auto;
	background-color: #8c8c8c;
}
            
#sidebar {
	float: left;
	width: 200px;
	border: 2px solid #000;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

#content {
   float: left;
   width: 600px;
   border: 2px solid #d00;
   border-radius: 5px;
   padding: 10px;
}

