{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="row" style="padding-top: 60;">

 <div class="col-sm-8 blog-main">

<div class="blog-post">
{% if friend_info %}
    
        {% for friends in friend_info %}
            <a href="{% url 'userprofile.views.people_profile' friends.user.id %}"><img class="img-circle" style="width: 200px; height: 200px;" src="{% get_static_prefix %}{{friends.get_thumbnail}}"></a>
            <h2 class="blog-post-title"><a href="{% url 'userprofile.views.people_profile' friends.id %}">{{friends.user.username}}</a></h2>
        {% endfor %}
          
          {% else %}
<p>None to show</p>
{% endif %}
</div>



</div><!-- /.blog-main -->
</div> <!-- row -->
{% endblock %}
  