{% extends 'base.html' %}
{% load static %}
{% load bootstrap_toolkit %}

{% block content %}


      <div class="blog-header">
        <h1 class="blog-title">{{username}}</h1>
      </div>

      <div class="row">

        <div class="col-sm-8 blog-main">
    {% if articles %}
    
        {% for article in articles %}
          <div class="blog-post">
            <h2 class="blog-post-title"><a href="/articles/get/{{article.id}}">{{article.title}}</a></h2>
            <p class="blog-post-meta">{{article.pub_date}} by {{username}}</p>

            <p>{{article.body|lower|truncatewords:50}}</p>
          </div><!-- /.blog-post -->
          {% endfor %}
          
          {% else %}
			<p>{{username}} hasn't posted anything yet</p>
			{% endif %}

  

        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
        
          <div class="sidebar-module sidebar-module-inset">
            <div style="padding-left: 7px; padding-bottom: 15px;"><img class="img-circle" src="{% get_static_prefix %}{{user_info.get_thumbnail}}" alt="Generic placeholder image" style="width: 200px; height: 200px;"></div>
            <h4 style="text-align: center;">About</h4>
            <p style="text-align: center;">{{user_info.bio}}</p>
            <h4 style="text-align: center;">Interests</h4>
            <p style="text-align: center;">{% for items in user_info.genre.all %} {{items}}. {% endfor %}</p>
            <div style="text-align: center;">
            <h4 style="text-align: center;"><a href="{% url 'userprofile.views.friend_list' p_friend.id %}">Friends</a></h4>
            {% if friend_list %}
            {% for friends in friend_list %}
            
            <a href="{% url 'userprofile.views.people_profile' friends.user.id %}"><img class="img-circle" style="width: 80px; height: 80px;" src="{% get_static_prefix %}{{friends.get_thumbnail}}"></a>
    
            {% endfor %}
            </div>
            {% else %}
            <p> No friends</p>
            {% endif %}
            {% if friends %}
            <h3><span class="label label-default">Friend request Pending</span></h3>
            {% else %}
            {% if mutual_friends == False %}
            {% if user.id != p_friend.id %}
			<form method="post" action="/accounts/add_friend/{{p_friend.pk}}/">
			{% csrf_token %}
			<input type="hidden" name="username" value="{{ username }}" />
			<input class="btn btn-success" type="submit" value="add {{ username }} as a friend" />
			</form>
			{% else %}
			<p>ok</p>
			{% endif %}
			{% else %}
			<form method="post" action="/accounts/unfriend/{{p_friend.pk}}/">
			{% csrf_token %}
			<input type="hidden" name="username" value="{{ username }}" />
			<input class="btn btn-danger" type="submit" value="Unfriend" />
			</form>
			{% endif %}
			{% endif %}
			{% if following == False %}
			{% if user.id != p_friend.id %}
			<form method="post" action="/accounts/follow/{{p_friend.pk}}/">
			{% csrf_token %}
			<input type="hidden" name="username" value="{{ username }}" />
			<input class="btn btn-success" type="submit" value="follow" />
			</form>
			{% endif %}
			{% else %}
			<form method="post" action="/accounts/unfollow/{{p_friend.pk}}/">
			{% csrf_token %}
			<input type="hidden" name="username" value="{{ username }}" />
			<input class="btn btn-danger" type="submit" value="Unfollow" />
			</form>
			{% endif %}
			
          </div>
          
        </div><!-- /.blog-sidebar -->
        

      </div><!-- /.row -->
          
          {% endblock %}
    
