{% extends "base.html" %}
<<<<<<< HEAD

{% block content %}
  
=======
{% load bootstrap_toolkit %}

{% block content %}
 
 <div class="row" style="padding-top: 40;>

 <div class="col-sm-8 blog-main"> 
>>>>>>> 347f063cefe0b889c1543b457ddb9de550edb957
  <h2>Profile</h2>
  
  {% for field in form %}
    {{field.error}}

  {% endfor %}
  
<<<<<<< HEAD
  <form action="/accounts/profile/" method="post">{% csrf_token %}
  {{form.as_ul}}
  
  <input type="submit" value="Update" />
    
  </form>
  
=======
  

  <form action="/accounts/profile/" method="post" enctype="multipart/form-data">{% csrf_token %}
  {{ form|as_bootstrap }}
  
  <input type="submit" name="submit" value="Update">
    
  </form>
  
  </div>
  </div>
>>>>>>> 347f063cefe0b889c1543b457ddb9de550edb957
{% endblock %}