{% load static %} <!-- load static folder -->
<DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}My Base Template{% endblock %}</title>
    
<<<<<<< HEAD
    <link rel="stylesheet" type="text/css" href="{% static "assets/css/default.css" %}">
    
    <script src="{% static "assets/js/jquery-2.0.0.min.js" %}"></script>
    <script src="{% static "assets/js/ajax.js" %}"></script>
</head>

<body>
    <div id="page">
    
		<div id="sidebar">
			{% block sidebar %}
			<ul>
				<li><a href="/articles/all">Articles</a></li>
				<li><a href="/admin/">Admin</a></li>
			</ul>
			{% endblock %}
		</div>
	
		<div id="content">
		    
		    {% if messages %}
		    <ul class="messages">
		        {% for message in messages %}
		        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
		        
		        {% endfor %}
		        
		    </ul>
		    {% endif %}
		    
			{% block content %}This is the content area.{% endblock %}
			
			<p><img src="{% static 'assets/images/python-logo.jpg' %}" width="100"/></p>
		</div>
    
    </div>
=======
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static "assets/css/blog.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "assets/css/signin.css" %}">
    <link href='http://fonts.googleapis.com/css?family=Chewy' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
    
    
     <style type="text/css">
    body { padding-top: 60px; }
    </style>
</head>

<body>
    {% block navbar %}
    <nav class="navbar navbar-default navbar-fixed-top" style="background-color:0A8C92; font-family: chewy; height: 80; padding-top:15px;">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/articles/all" style="color: white; font-size: 40;">Ecto</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a style="color: white;" href="/accounts/home">{{user.username}}</a></li>
            <li><a style="color: white;" href="{% url 'article.views.create' %}">Upload</a></li>
            <li><a style="color: white;" href="/articles/all">Posts</a></li>
            {% if friend_request.count > 0 %}<li role="presentation"><a style="color: white;" href="{% url 'blog.views.friend_requests' %}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span><span style="background-color: green;" class="badge">{{friend_request.count}}</span></a></li>{% endif %}
            {% if g_notification.count > 0 %}<li role="presentation"><a style="color: white;" href="{% url 'notification.views.show_g_notification' %}"><span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span><span style="background-color: green;" class="badge">{{g_notification.count}}</span></a></li>{% endif %}
            <li class="dropdown">
              <a style="color: white; background-color:0A8C929;" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Settings<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a style="color: 0A8C92;" href="#">Help</a></li>
                <li class="divider"></li>
                <li><a style="color: 0A8C92;" href="/accounts/profile">Settings</a></li>
                <li class="divider"></li>
                <li><a style="color: 0A8C92;" href="/accounts/logout/">Sign Out</a></li>
              </ul>
            </li>
          </ul>
          <!--<ul class="nav navbar-nav navbar-right">
            <div class="form-group">
              {% csrf_token %}
<input type="text" id="search" name="search" />

<ul id="search-results">

</ul>
          </ul> -->
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    {% endblock %}
    
    
    {% if messages %}
   
				<div class="row">
				<div class='col-xs-12'>
	
			{% for message in messages %}
				<p{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %} style="text-align: center">{{ message }}</p>
			{% endfor %}
				</div>
				</div>

            {% endif %}
    

	
            <div class="container" style="top-padding: 60px">
			{% block content %}
			

			{% endblock %}
		    </div>
			
    
    <script src="{% static 'assets/js/jquery-2.0.0.min.js' %}"></script>
    <script src="{% static 'assets/js/ajax.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
>>>>>>> 347f063cefe0b889c1543b457ddb9de550edb957
    
</body>
</html>