{% extends 'base.html' %}

{% block content %}

<div class="row" style="padding-top: 60;">

 <div class="col-sm-8 blog-main">

{% if all_friends %}
    
        {% for friends in all_friends %}
          <div class="blog-post">
            <h2 class="blog-post-title"><a href="{% url 'userprofile.views.people_profile' friends.id %}">{{friends}}</a></h2>
          {% endfor %}
          
          {% else %}
<p>None to show</p>
{% endif %}



</div><!-- /.blog-main -->
</div> <!-- row -->
{% endblock %}
  
