{% extends 'base.html' %}

{% block content %}

<div class="row" style="padding-top: 60;">

 <div class="col-sm-8 blog-main">

{% if requests.count > 0 %}

{% for r in requests %}
<p>{{ r.from_user }} wants to be friends with you</p>

<form action="/accounts/friendship_accept/{{r.pk}}/" method="post">
{% csrf_token %}
<input type="submit" value="accept" />
</form>
<form method="post" action="/accounts/friendship_reject/{{r.pk}}/">
{% csrf_token %}
<input type="submit" value="reject" />
</form>
{% endfor %}
{% else %}
<p>No requests</p>
{% endif %}



</div><!-- /.blog-main -->
</div> <!-- row -->
{% endblock %}
  
