{% extends 'base.html' %}
{% load static %}
{% load bootstrap_toolkit %}

{% block navbar %}
{% if notifications %}
<nav class="navbar navbar-default navbar-fixed-top"  style="background-color:0A8C92; font-family: chewy; height: 80; padding-top:15px;">
     <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <p class="navbar-brand" href="/articles/all" style="color: white; font-size: 40;">Ecto</p>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a style="color: white; background-color:0A8C92;" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Settings<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a style="color: 0A8C92;" href="/accounts/logout/">Sign Out</a></li>
              </ul>
            </li>
          </ul>

        </div><!--/.nav-collapse -->
      </div>
    </nav>
{% else %}
{{ block.super }}
{% endif %}
{% endblock %}



{% block content %}


      <div class="blog-header">
        <h1 class="blog-title">Blog Test</h1>
      </div>

      <div class="row">

        <div class="col-sm-8 blog-main">
        
        {% if notifications.count > 0 %}
        <div class="alert alert-success" role="alert">
  <a href="#" class="alert-link">
        {% for n in notifications %}
            <p><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span> <a href="/notification/show/{{n.id}}">{{n.title}}</a></p>
        {% endfor %}
    </a>
</div>
{% endif %}
       
       
        
    
    {% if articles %}
    
        {% for article in articles %}
          <div class="blog-post">
            <h2 class="blog-post-title"><a href="/articles/get/{{article.id}}">{{article.title}}</a></h2>
            <p class="blog-post-meta">{{article.pub_date}} by {{user.username}}</p>

            <p>{{article.body|lower|truncatewords:50}}</p>
          </div><!-- /.blog-post -->
          {% endfor %}
          
          {% else %}
			<p>You've not posted anything yet</p>
			{% endif %}

  

        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
        
          <div class="sidebar-module sidebar-module-inset" >
            <div style="padding-left: 7px; padding-bottom: 15px;">{% if notifications > 0 %}
            <img class="img-circle" src="{% get_static_prefix %}{{user_info.get_thumbnail}}" alt="Generic placeholder image" style="width: 200px; height: 200px;">
            {% else %}
            <img class="img-circle" src="{% get_static_prefix %}{{user_info.get_thumbnail}}" alt="Generic placeholder image" style="width: 200px; height: 200px;">
            {% endif %}</div>
            <h4 style="text-align: center;">About</h4>
            <p style="text-align: center;">{{user_info.bio}}</p>
            <h4 style="text-align: center;">Interests</h4>
            <p style="text-align: center;">{% for items in user_info.genre.all %} {{items}}. {% endfor %}</p>
            <div style="text-align: center;">
            <h4 style="text-align: center;"><a href="{% url 'blog.views.friend_list' %}">Friends</a></h4>
            {% if friend_list %}
            {% for friends in friend_list %}
            
            <a href="{% url 'userprofile.views.people_profile' friends.user.id %}"><img class="img-circle" style="width: 80px; height: 80px;" src="{% get_static_prefix %}{{friends.get_thumbnail}}"></a>
    
            {% endfor %}
            {% else %}
            <p> No friends</p>
            {% endif %}
            </div>
            
          </div>
          
        </div><!-- /.blog-sidebar -->
        

      </div><!-- /.row -->
          
          {% endblock %}
    
