{% extends 'base.html' %}

{% block content %}

    <h2>Hi {{full_name}} Logged in!</h2>
    
    {% if notifications.count > 0 %}
        <h3>Notifications</h3>
        {% for n in notifications %}
            <p><a href="/notification/show/{{n.id}}">{{n.title}}</a></p>
        {% endfor %}
    {% endif %}
        
        
    <p>Click <a href="/accounts/logout/">here</a> to logout.</p>
    
    
    <p>Click <a href="/accounts/profile/">here</a> to edit your profile information</p>
{% endblock %}
    
