{% extends 'base.html' %}

{% block content %}


{% block navbar %}
<nav class="navbar navbar-default navbar-fixed-top"  style="background-color:0A8C92; font-family: chewy; height: 80; padding-top:15px;">
     <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/articles/all" style="color: white; font-size: 40;">Ecto</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a style="color: white;" href="{% url 'article.views.create' %}">Upload</a></li>
            <li><a style="color: white;" href="/articles/all">Posts</a></li>
            <li class="dropdown">
              <a style="color: white; background-color:0A8C92;" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Settings<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a style="color: 0A8C92;" href="#">Help</a></li>
                <li class="divider"></li>
                <li><a style="color: 0A8C92;" href="/accounts/profile">Settings</a></li>
                <li class="divider"></li>
                <li><a style="color: 0A8C92;" href="/accounts/logout/">Sign Out</a></li>
              </ul>
            </li>
          </ul>

        </div><!--/.nav-collapse -->
      </div>
    </nav>
{% endblock %}



{% block content %}

<div style="padding-top: 20;">
    {% if form.errors %}
        <p class="error">Sorry, that's not a valid username or password</p>
    {% endif %}
    

    <form action="/accounts/auth/" method="post">{% csrf_token %}
        <label for="username">User name:</label>
        <input type="text" name="username" value="" id="username">
        <label for="password">Password:</label>
        <input type="password" name="password" value="" id="password">
        
        <input type="submit" value="login" />
        
    </form>
    
=======
    <form action="/accounts/auth/" method="post" class="form-signin">{% csrf_token %}
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="username">User name:</label>
        <input type="text" name="username" value="" id="username" class="form-control">
        <label for="password">Password:</label>
        <input type="password" name="password" value="" id="password" class="form-control">
        <button class="btn btn-lg btn-primary btn-block" type="submit" type="submit" value="login">Sign in</button>
        
        
    </form>

</div>
</div>


    {% endblock %}
