{% extends "base.html" %}



{% block content %}

  <h2>Register</h2>
  <form action="/accounts/register/" method="post">{% csrf_token %}
  
	  <ul>
		  {{form.as_ul}}

{% load bootstrap_toolkit %}


{% block navbar %}
<nav class="navbar navbar-default navbar-fixed-top"  style="background-color:0A8C92; font-family: chewy; height: 80; padding-top:15px;">
     <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/articles/all" style="color: white; font-size: 40;">Ecto</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a style="color: white;" href="{% url 'article.views.create' %}">Upload</a></li>
            <li><a style="color: white;" href="/articles/all">Posts</a></li>
            <li class="dropdown">
              <a style="color: white; background-color:0A8C92;" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Settings<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a style="color: 0A8C92;" href="#">Help</a></li>
                <li class="divider"></li>
                <li><a style="color: 0A8C92;" href="/accounts/profile">Settings</a></li>
                <li class="divider"></li>
                <li><a style="color: 0A8C92;" href="/accounts/logout/">Sign Out</a></li>
              </ul>
            </li>
          </ul>

        </div><!--/.nav-collapse -->
      </div>
    </nav>
{% endblock %}

{% block content %}

<a href="/accounts/login/">Sign in</a>

<div class="page-header">
	<h1>Ecto Blog</h1>
	<p class="lead">Create and share the stories you love</p>
	<h3><a href="{% url 'blog.views.login' %}">Login here</a></h3>
	
</div>
  <form action="" method="post">{% csrf_token %}
  
  <h1>Register</h1>
  
	  <ul>
		  {{form|as_bootstrap}}

	  </ul>
  
  <input type="submit" value="Register" />
  
  </form>

=======
  



{% endblock %}